<div class="container">
  <div class="spinner-container" *ngIf="isLoading">
      <mat-spinner class="spinner-color"></mat-spinner>
  </div>

  <div class="market-header">Create New Account</div>
  <form [formGroup]="createAccountFGroup"
    (submit)="send()"
    spellcheck="false"
    autocomplete="off"
    novalidate
    class="registration-form">

    <div class="item">
      <mat-form-field [hideRequiredMarker]="false">
        <input matInput type="text" placeholder="Account Name" formControlName="name" [required]="true">
        <mat-hint>length 12, lowercase a-z, 1-5</mat-hint>
      </mat-form-field>
    </div>

    <div class="item">
      <mat-form-field [hideRequiredMarker]="false">
        <input matInput type="text" placeholder="Public key" formControlName="publicKey" [required]="true">
        <mat-hint>EOS7d9vjuzCT67Jv9hZrBY8R3LhvHMrHepN1ArSeY3e1EKKaEUEc8</mat-hint>
      </mat-form-field>
    </div>

    <button type="submit"
      mat-raised-button
      color="primary"
      [disabled]="!createAccountFGroup.valid"
      class="footer">
        Create Account
    </button>
  </form>
</div>