<div class="container">

<div class="spinner-container" *ngIf="spinner">
    <mat-spinner class="spinner-color"></mat-spinner>
</div>

<div class="col-md-12">

<div class="col-sm-12 no-gutter producers-title">
    <span class=" pull-left col-xs-6 col-sm-6">Producers</span>
    <div class="pull-right col-xs-6 col-sm-6">
        <span>Last rotation:<strong *ngIf="rotations" style="color: black;"> <last-updated [timestamp]="rotations?.last_rotation_time" direction="up"></last-updated> </strong></span>
        <span>Next rotation:<strong *ngIf="nextRotationMessage" style="color: black;"> {{ nextRotationMessage }} </strong></span>
        <button mat-raised-button class="node-map" (click)="showMap()">Node Map</button>
    </div>
</div>

<div class="col-sm-12" *ngIf="mapOpen">
  <div style="height: 400px; margin-top: 20px; width: 100%;" leaflet [leafletOptions]="options" [leafletLayers]="layers"></div>
</div>

<!-- <div class="pull-left col-sm-8 no-gutter vote-progress-container">
  <span class="col-xs-2 no-gutter">Vote progress: </span>
  <div class="col-xs-10 no-gutter">
      <mat-progress-bar mode="determinate" textTop="true" value="{{ voteProgression }}" class="progress-bar-usage vote-progression"></mat-progress-bar>
      <div class="progress-bar-text">
          {{ voteProgression?voteProgression:0 }} %
      </div>
  </div> 
</div> -->
<div class="col-sm-4 col-sm-offset-8">
  <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Search by producer name or by url">
  </mat-form-field> 
</div>
<!--<h3 class="producer-candidate pull-right"><small>our producer candidate: </small> 
  <strong><a routerLink="/producer/eoswebnetbp1" class="color-orange">eoswebnetbp1</a></strong>
</h3>-->

<div class="example-container mat-elevation-z8 main-table">

  <mat-table #table [dataSource]="dataSource" class="big-table">

    <ng-container matColumnDef="#">
      <mat-header-cell *matHeaderCellDef class="top-number-analytics"> # </mat-header-cell>
      <mat-cell *matCellDef="let element; let i = index" class="top-number-analytics">
          <strong>{{ element?.index }}</strong>
      </mat-cell>
    </ng-container>
    
    <!-- Name Column -->
    <ng-container matColumnDef="Name">
      <mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <a [routerLink]="['/producer', element?.owner ]" class="color-orange" id="{{element?.owner}}">
          	<strong>{{ element?.owner }}</strong>
          </a>
       </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Status">
      <mat-header-cell *matHeaderCellDef> Status </mat-header-cell>
      <mat-cell *matCellDef="let element" class="marketcap-container">
          <button mat-raised-button color="primary" class="status" *ngIf="element?.label === 'Active'">Active <span *ngIf="rotationMark[element?.index]" class="fa fa-sync-alt"></span></button>
          <button mat-raised-button color="standby" class="status" *ngIf="element?.label === 'Standby'">Standby <span *ngIf="rotationMark[element?.index]" class="fa fa-sync-alt"></span></button>
          <button mat-raised-button color="inactive" class="status" *ngIf="element?.label === 'Inactive'">Inactive</button>
          <button mat-raised-button color="candidate" class="status" *ngIf="element?.label === 'Candidate'">Candidate</button>
          <button mat-raised-button color="producing" class="status" *ngIf="element?.producing">Producing <span *ngIf="rotationMark[element?.index]" class="fa fa-sync-alt"></span></button>
       </mat-cell>
    </ng-container>
    
    <!-- <ng-container matColumnDef="Total Votes">
      <mat-header-cell *matHeaderCellDef> Total Votes (TLOS)</mat-header-cell>
      <mat-cell *matCellDef="let element"> 
             <strong> {{ element?.total_votes }}</strong>
      </mat-cell>
    </ng-container> -->

    <ng-container matColumnDef="Url">
      <mat-header-cell *matHeaderCellDef class="url-flex"> Url </mat-header-cell>
      <mat-cell *matCellDef="let element" class="color-light-grey url-flex"> 
          <a href="{{element?.url}}" target="_blank" [title]="element?.url" class="color-blue">{{element?.url}}</a>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Last block">
      <mat-header-cell *matHeaderCellDef> Last block </mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
          <strong class="color-orange"><a class="color-orange" [routerLink]="['/block', element?.last_block_produced]">{{ element?.last_block_produced }}</a><span *ngIf="element?.label === 'Active' && blockChainInfo?.head_block_num - (element?.last_block_produced || firstBlockProduced) > 252" class="fa fa-exclamation-triangle"></span></strong>
        </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Last time produced">
      <mat-header-cell *matHeaderCellDef> Last time produced</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container"> 
        <span *ngIf="element?.last_time_produced && element?.producing"> producing blocks...</span>
        <span *ngIf="element?.last_time_produced && !element?.producing"> <last-updated [timestamp]="element?.last_time_produced" direction="up"></last-updated></span>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Next rotation">
      <mat-header-cell *matHeaderCellDef> Next rotation</mat-header-cell>
      <mat-cell *matCellDef="let element" class="change-container">
        <strong [ngClass]="{'color-orange': element.owner === rotations.bp_currently_out || element.owner === rotations.sbp_currently_in}"><last-updated [timestamp]="element.nextRotationTime" direction="down"></last-updated></strong>
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="Votes">
      <mat-header-cell  style="text-align: right;" *matHeaderCellDef> Votes</mat-header-cell>
      <mat-cell  style="text-align: right;" *matCellDef="let element" class="change-container"> 
        <strong> {{ element?.votes }} %</strong>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
  </mat-table>

  <!--<mat-paginator #paginator
                 [pageSize]="100"
                 [pageSizeOptions]="[50, 100]">
  </mat-paginator>-->
</div>
</div>

</div>