<nav class="main-navigation">
  <a routerLink="" class="logo pull-left">
    <img src="/assets/images/telos_logo.png" height="28" alt="">
  </a>
  <div class="main-search">
    <i class="fal fa-search" (click)="searchGlobal(search)"></i>
    <input type="search" placeholder="Search by block, tx, account, address" [(ngModel)]="search" (keyup)="onKey($event)">
  </div>
  <ul class="pull-right main-nav-middle">
    <!--<li><button mat-button color="basic" routerLink="tokens" routerLinkActive="nav-active">Tokens</button></li>-->
    <li><button mat-button color="basic" routerLink=""  [ngClass]="{'nav-active': activeMenu()  === '/'}">Home</button></li>
    <li><button mat-button color="basic" routerLink="info" routerLinkActive="nav-active">Info</button></li>
    <li><button mat-button color="basic" routerLink="producers" routerLinkActive="nav-active">Producers</button></li>
    <li><button mat-button color="basic" routerLink="p2p" routerLinkActive="nav-active">P2P</button></li>
    <li><button mat-button color="basic" routerLink="vote" routerLinkActive="nav-active" class="mobile-no">Vote</button></li>
    <!-- <li><button mat-button color="basic" routerLink="analytics" routerLinkActive="nav-active">Analytics</button></li> -->
    <li><button mat-button color="basic" routerLink="ram" routerLinkActive="nav-active">Ram</button></li>
    <button mat-button color="basic" [matMenuTriggerFor]="menu" [ngClass]="{'nav-active': activeMenu()  === '/faucet' || activeMenu()  === '/account-creation' || activeMenu()  === '/registration' || activeMenu()  === '/keys'}">More</button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item color="basic" routerLink="faucet" routerLinkActive="nav-active">Faucet</button>
      <button mat-menu-item color="basic" routerLink="account-creation" routerLinkActive="nav-active">Create Account</button>
      <button mat-menu-item color="basic" routerLink="registration" routerLinkActive="nav-active">Register</button>
      <button mat-menu-item color="basic" routerLink="keys" routerLinkActive="nav-active">Generate Key Pair</button>
    </mat-menu>
        <!--<li class="mobile-no"><button mat-button color="basic" routerLink="soon">API</button></li>-->
  </ul>
</nav>

<main-tcustomize-charts></main-tcustomize-charts>

<router-outlet></router-outlet>

<simple-notifications [options]="options"></simple-notifications>

<footer>
  <div class="container">
  <ul class="pull-left">
        <!--<li><a routerLink="soon">API</a></li>-->
        <li><a href="https://twitter.com/HelloTelos" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://t.me/HelloTelos" target="_blank"><i class="fab fa-telegram-plane"></i></a></li>
        <li><a href="https://github.com/Telos-Foundation" target="_blank"><i class="fab fa-github"></i></a></li>
        <li><a href="https://www.youtube.com/channel/UC1eRSAt81jUf7zM4hsy5S5Q?disable_polymer=true" target="_blank"><i class="fab fa-youtube"></i></a></li>
        <li><a href="https://www.facebook.com/TelosFoundation.io/" target="_blank"><i class="fab fa-facebook"></i></a></li>
  </ul>
  <img src="/assets/images/telos_icon_334.png" width="45" alt="">
  <div class="pull-right">
    <a href="mailto:hello@telosfoundation.io">hello@telosfoundation.io</a></div>
  </div>
</footer>

